<!DOCTYPE html>
<html>

<head>

  <link rel="icon" href="https://avatars.githubusercontent.com/u/17137938?s=400&v=4">
  <title>Advice App</title>
  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
  <center>
    <h1>Welcome to Advice App!</h1>
    <div>
      <a href="https://github.com/marcocharlie">Visit my GitHub profile</a>
    </div>
    <br />
    <br />
    <div><label for="topic">Please, insert a topic for which you want to get advice:</label>
      <input type="text" id="topic">
      <div>
        <br />
        <br />
        <div><label for="amount">If you want, insert the maximum amount of advice to receive:</label>
          <input id="amount" type="number" min="1" max="100">
        </div>
        <br />
        <br />

        <div>
          <button id="submitRequest" type="button" onclick="">Submit</button>
        </div>
        <br />
        <br />
        <br />
        <h2>Advice:</h2>
      </div>
      <div>
        <br />
        <textarea id="display"></textarea>
      </div>
  </center>
</body>


<script>

  // submit request to server on click event
  document.getElementById('submitRequest').addEventListener('click', async event => {
    var topic = document.getElementById('topic').value;
    var amount = document.getElementById('amount').value;

    const data = { topic, amount };
    const options = {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    };
    // POST to server
    const response = await fetch('/api', options);
    // receive advice from server
    const json = await response.json();
    if (json.result != null) {
      const advice = json.result.adviceList
      var parsed = "";
      for (i = 0; i < advice.length; i++) {
        parsed += (i + 1 + " : " + advice[i] + "\n\n");
      }
      document.getElementById('display').value = parsed
    } else {
      confirm("An error occurred:\n\n" + json.error.message)
    }
  })

</script>



</html>